# NOTE:
# Do not use quotes around values even if they contain spaces.
#
# Copy this file to .env to use locally

# NGROK_AUTHTOKEN which can be found in ngrok dashboard:
# - https://dashboard.ngrok.com/auth
NGROK_AUTHTOKEN=

# Once the server started, look into the logs and copy the DVSYNC_TOKEN
DVSYNC_TOKEN=

# vim:ft=sh
